root = true #root表示是最顶层的配置文件，发现设为true时，才会停止查找.editorconfig文件  从底层向顶层查找

[*]#匹配除/任意字符串  [**]匹配任意字符串
charset = utf-8  # 字符集 万国码
indent_style = space # 软缩进  tab为硬缩进
indent_size = 2 #用一个整数定义的列数来设置缩进的宽度，如果indent_style为tab，则此属性默认为tab_width
end_of_line = lf 
insert_final_newline = true #设为true表示使文件以一个空白行结尾
trim_trailing_whitespace = true #设为true表示会去除换行行首的任意空白字符
